.list{
    margin-left: 30rem;
}
:active
:hover
:focus{
    outline: 0 !important;
    outline-offset: 0;
}
a,
a:hover{
    text-decoration: none;
}
a:hover{
    color: red;
}
.top-header{
    background-color: #333;
}
h1{
    color: white;
    font-weight: 100;
    margin: 1rem;
}